.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $main-color;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        position: relative;
        width: max-content;
        height: 229px;

        &__logo {
            width: 283px;
            height: 156px;
            animation: floating 3s ease-in-out infinite;
            filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 15px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.2);
            opacity: 0.8;
            filter: blur(5px);
            fill: $dark-color;
            animation: moveshadow 3s ease-in-out infinite;
            transform-origin: 50% 50%;
        }
    }
}

@keyframes floating {

    0%,
    100% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 20px);
    }
}

@keyframes moveshadow {

    0%,
    100% {
        transform: scaleX(0.8);
        opacity: 0.2;
    }

    50% {
        transform: scale(1);
        opacity: 0.9;
    }
}