.gallery {
    width: 100%;
    height: 100vh;
    background: url(../../assets/images/backgrounds/backgroundGrey.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    position: relative;

    &__title {
        color: $main-color;

        &::after {
            background-color: $main-color;
        }
    }

    &__content {

        &__carousel {
            background-color: $main-color;
            border: 4mm ridge rgba(0, 0, 0, 0.4);
            box-shadow: 5px 0 10px rgba(117, 115, 115, 0.8);

            &__img {
                display: block;
                margin: auto;
                max-width: 100%;
                width: auto;
                max-height: 720px;
                object-fit: contain;
            }
        }
    }
}