.footer {
    background: url(../../assets/images/backgrounds/backgroundNav.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    &__brand {
        height: calc(1.869rem + 3vw);
        width: auto;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 1));
        transition: 0.3s ease-in-out;

        &:hover {
            animation: shake 2s linear infinite;
        }

        &__modal {
            & .modal-dialog {
                margin: 0;
                border-radius: 0.5rem;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) !important;
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
            }

            & .modal-header {
                background-color: $main-color;
            }

            & .modal-title {
                font-weight: bold;
                padding-right: 1rem;
            }

            & .modal-body {
                display: flex;
                justify-content: space-around;
                background-color: $element-color;
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;

                & button img {
                    padding: 2px;
                    border-radius: 50%;
                    background-color: $main-color;
                    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
                    transition: all 0.3s;

                    @media screen and (max-width: 575px) {
                        width: 75%;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    &__li {
        color: $element-color;
        border: unset;
        background-color: unset;

        &__txt {
            font-weight: normal;

            & a {
                filter: invert(0.5);
                transition: all 0.3s;

                &:hover {
                    filter: invert(1);
                }
            }
        }

        &__img {
            padding: 2px;
            border-radius: 50%;
            background-color: $element-color;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: $main-color;
                filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 1));
                transform: rotate(360deg);
            }
        }
    }
}

@keyframes shake {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}