.slides {
    width: 100%;
    background: url(../../assets/images/backgrounds/backgroundWhite.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    position: relative;

    &__deco {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        pointer-events: none;
    }

    &__carousel {
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: $main-color;
        padding: calc(4px + 1vw);
        border: calc(1px + 1vw) solid $dark-color;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);

        & .carousel-indicators {
            bottom: 1.25%;
            margin-bottom: 0;

            @media screen and (max-width: 642px) {
                bottom: 1.7%;
            }

            & button {
                border-radius: 50%;
                width: 10px;
                height: 10px;
                margin-left: 5px;
                margin-right: 5px;
                background-color: $transparent-color;
                border: 3px solid $light-color;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);

                @media screen and (max-width: 642px) {
                    width: 7px;
                    height: 7px;
                    margin-left: 3px;
                    margin-right: 3px;
                    border: 2px solid $light-color;
                    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
                }

                &.active {
                    background-color: $element-color;
                    transform: scale(1.2);
                }
            }
        }

        & .carousel-inner {

            & video {
                width: 100%;
                max-height: 76vh;
                height: 100%;
            }

            &::after {
                content: none;
            }
        }

        & a {
            top: 45%;
            width: unset;
            height: fit-content;
            filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 1));
            opacity: unset;

            @media screen and (max-width: 642px) {
                width: 24px;
            }
        }

        & .carousel-control-prev-icon {
            animation: bouncePrev 3s infinite forwards;
        }

        & .carousel-control-next-icon {
            animation: bounceNext 3s infinite forwards;
        }
    }
}

@keyframes bouncePrev {

    0%,
    20%,
    50%,
    80%,
    100% {
        opacity: 1;
        transform: translateX(0);
    }

    40% {
        opacity: 1;
        transform: translateX(10px);
    }

    60% {
        opacity: 1;
        transform: translateX(5px);
    }
}

@keyframes bounceNext {

    0%,
    20%,
    50%,
    80%,
    100% {
        opacity: 1;
        transform: translateX(0);
    }

    40% {
        opacity: 1;
        transform: translateX(-10px);
    }

    60% {
        opacity: 1;
        transform: translateX(-5px);
    }
}