.background {
  width: 100%;
  height: 600px;
  background: url("../assets/images/backgrounds/backgroundAirbrush.webp") no-repeat;
  background-position: left;
  background-attachment: fixed;
  background-size: cover;

  @media screen and (max-width: 939px) {
    height: 400px;
  }

  @media screen and (max-width: 679px) {
    background-position: 30% center;
  }
}